@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.process {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;

    &__container {
        width: 100%;
        padding: 2.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__headers {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__steps {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__step {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 1rem;
    }

    &__text {
        color: $color-blue;
    }

    &__image {
        width: 80%;
        max-width: 200px;
        height: auto;
        border-radius: 5px;
    }

    @include tablet {
        &__container {
            max-width: $desktop-breakpoint;
            margin: 0 auto;
            padding: 2.5rem 2rem;
        }

        &__steps {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0;
        }

        &__step {
            flex: 0 0 25%;
            padding: 0.5rem;
        }

        &__image {
            width: 90%;
            max-width: 180px;
        }
    }

    @include desktop {
        &__container {
            max-width: $desktop-breakpoint;
            margin: 0 auto;
            padding: 2.5rem 6.25rem;
            width: $desktop-breakpoint;
        }

        &__step {
            flex: 0 0 25%;
        }

        &__image {
            width: 100%;
            max-width: 160px;
        }
    }
} 