@use './variables' as *;  // Import variables
@use './mixins' as *;  // Import mixins
@use './fonts' as *;  // Import fonts

/* Reset all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font settings for the whole document */
html {
    font-size: 100%; /* 16px */
    background-color: #fff;
}

/* Set body to take up full height and width */
body {
    min-height: 100vh;
    max-width: 125rem;
    overflow-x: hidden;
    margin: 0 auto;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    font-weight: $regular;
    color: $color-black;
    margin: 0;
    font-size: .875rem;  // 14px
    
    @include tablet {
        font-size: 1rem;
    }
}

h1,
h2,
h3 {
    font-family: 'Song Myung', serif;
    font-weight: $bold;
    color: $color-black;
    margin: 0;
}

h1 {
    font-size: 2rem;  // 32px
    @include tablet {
        font-size: 3.75rem;
    }
}

h2 {
    font-size: 1.75rem;
    @include tablet {
        font-size: 2.25rem;
    }
}

h3 {
    font-size: 1.5rem;
    @include tablet {
        font-size: 1.75rem;
    }
}

p {
    font-size: .875rem;  // 14px
    @include tablet {
        font-size: 1rem;
    }
}

button {
    font-size: 1rem; 
    padding: 0.5rem 1rem;
    background-color: $color-orange;
    color: $color-white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
        background-color: $color-darkorange;
    }
} 