// Font Variables
$light: 300; // Light
$regular: 400; // Regular
$medium: 500; // Medium
$semiBold: 600; // SemiBold
$bold: 700; // Bold
$extraBold: 900; // ExtraBold

// Primary Color Variables
$color-black: #373737;
$color-white: #FFFFFF;

// Secondary Color Variables
$color-blue: #2A66C5;
$color-darkblue: #0055AA;

$color-orange: #E65A30;
$color-darkorange: #CC502B;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px; 