@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/globals' as *;

.hero {
    width: 100%;
    height: calc(100vh - 6.0625rem);
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;


    &__text {

        &--emphasis {
            font-weight: bold;
            font-style: italic;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: baseline;
    }

    &__title {
        
        @include tablet {
            width: 36rem;
        }
    }

    &__link {
        gap: 0.5rem;
    }

    &__link-icon {
        height: 0.5rem;
    }

    @include tablet {
        height: 75vh;
        padding: 2rem;
    }

    @include desktop {
        padding: 3rem;
    }
}

