@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/globals' as *;

.offer {
    width: 100%;
    background-color: $color-gray;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 100%;
        padding: 2.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__headers {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__points {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__point {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
    }

    &__icon {
        width: .6875rem;
    }

    &__image {
        display: flex;
        height: 14.3125rem;
        width: 14.6225rem;
        align-self: center;
        margin-top: 1rem;
    }

    @include tablet {
        &__container {
            flex-direction: row;
            padding: 2.5rem 2rem;
            gap: 3rem;
            align-items: center;
        }

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
        }

        &__image {
            flex: 1;
            max-width: 16.25rem;
            height: 16.25rem;
        }
    }

    @include desktop {
        &__container {
            gap: 1rem;
            max-width: $desktop-max-width;
            margin: 0 auto;
            padding: 0 100px;
            justify-content: center;
        }

        &__image {
            flex: 0 0 auto;
            width: 23.5625rem;
            height: 23.0625rem;
            object-fit: contain;
        }
    }
}


