@use 'variables' as *;
@use 'mixins' as *;
@use 'fonts' as *;

/* Reset all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font settings for the whole document */
html {
    font-size: 100%; /* 16px */
    background-color: #fff;
}

/* Set body to take up full height and width */
body {
    min-height: 100vh;
    max-width: 125rem;
    overflow-x: hidden;
    margin: 0 auto;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

header {
    @include container;
    @include header;
    @include flex(row, 0, nowrap);
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    position: fixed;  // Make it sticky
    top: 0;          // Stick to top
    left: 0;         // Align to left
    z-index: 1000;
}

footer {
    @include flex(column, 2rem, nowrap);
    @include container;
    @include footer;
    width: 100%;
    background-color: $color-blue;

    @include tablet {
        @include flex(row, 0, nowrap);
        justify-content: space-between;
        align-items: flex-end;
    }

}

/* Remove default link styles */
a {
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    font-size: .875rem;
    font-weight: $medium;
    color: $color-black;
    margin: 0;
}

h1 {
    @include montserrat;
    font-size: 2.5rem;
    font-weight: $bold;
    color: $color-black;
    margin: 0;
}

p {
    @include open-sans;
    font-size: .875rem;
    font-weight: $medium;
    color: $color-black;
    margin: 0;
}

button {
    @include button;
}