@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/globals' as *;

.catch {
    width: 100%;
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &__headers {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__points {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__point {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
    }

    &__icon {
        width: .6875rem;
    }

    &__image {
        display: flex;
        height: 14.3125rem;
        width: 14.6225rem;
        align-self: center;
        margin-top: 1rem;
    }

    @include tablet {
        flex-direction: row;
        padding: 2rem;
        gap: 3rem;
        align-items: center;

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
        }

        &__image {
            flex: 1;
            max-width: 16.25rem;
            height: 16.25rem;
        }
    }

    @include desktop {
        &__image {
            flex: 1;
            height: 23.0625rem;
            width: 23.5625rem;
        }
    }

    @include desktop {
        max-width: $desktop-breakpoint;
        margin: 0 auto;
        padding: 3rem 6.25rem;
    }
} 