@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/globals" as *;

.catch {
  width: 100%;
  background-color: $color-gray;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @include tablet {
      padding: 2.5rem 2rem;
      gap: 3rem;
    }

    @include desktop {
      max-width: $desktop-breakpoint;
      margin: 0 auto;
      padding: 3rem 6.25rem;
      flex-direction: row;
      align-items: center;
      gap: 4rem;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    @include desktop {
      flex: 1;
    }
  }

  &__image-container-mobile {
    display: flex;
    justify-content: center;

    @include desktop {
      display: none;
    }
  }

  &__image-container-desktop {
    display: none;

    @include desktop {
      display: flex;
      flex: 0 0 auto;
      width: 31rem;
    }
  }

  &__headers {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__points {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__point {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  &__icon {
    width: 0.6875rem;
  }

  &__image {
    height: 9.8125rem;
    width: 9.8125rem;
    border-radius: 10px;
    object-fit: contain;

    @include tablet {
      max-width: 16.25rem;
      height: 16.25rem;
      width: 16.25rem;
    }

    @include desktop {
      height: 13.5rem;
      width: 31rem;
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @include desktop {
      align-items: flex-start;
    }
  }

  &__link-container {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: baseline;
  }

  &__link {
    gap: 0.5rem;
    text-decoration: underline;
  }

  &__link-icon {
    height: 0.5rem;
  }

  &__button {
    padding: 0.75rem 1.5rem;
    width: 13rem;
    background-color: $color-orange;
    color: $color-white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Song Myung', serif;
    font-size: 1.125rem;
    text-decoration: none;
    text-align: center;

    &:hover {
      opacity: 0.9;
      background-color: $color-darkorange;
    }

    @include tablet {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      width: 10.5rem;
    }
  }
}


