@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/globals' as *;

.header {
    width: 100%;
    height: 6.0625rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $color-white;

    &__logo {
        height: 1.5rem;
        margin-bottom: .75rem;
    }

    &__button {
        display: none;
    }

    @include tablet {
        justify-content: space-between;
        align-items: center;
        padding: 0 3.75rem;

        &__logo {
            height: 1.5rem;
            margin-bottom: 0;
        }

        &__button {
            display: block;
        }
    }

    @include desktop {
        max-width: 1280px;
        margin: 0 auto;
    }
}

